<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sign In</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
    </head>
    <body class="text-center">	
        <form action="{{ url_for('signin') }}" class="form-signin" method="post">
            {% if mesage is defined and mesage %}
                <div class="alert alert-warning">{{ mesage }}</div>
            {% endif %}
            <br>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <input type="email" id="emailid" name="emailid" class="form-control" placeholder="Email address" required autofocus autocomplete="off">
            <input type="password" id="passwd" name="passwd" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="bottom">Dont't have an account?  <a class="bottom" href="{{ url_for('signup') }}"> Register here</a></p>
            <p class="mt-5 mb-3 text-muted">&copy;2023 <span style="color:red;">  All Rights Reserved</span></p>
        </form>
    </body>
</html>